source_up
export SOPS_AGE_RECIPIENTS=age1h2n58l28we54c77du9k2haldd05zsxetwsxhxdzn4m3huvpfpp9q4r20ey
export SOPS_KMS_ARN=arn:aws:kms:us-east-1:162262765230:key/68099981-57be-4f94-b31b-c792651bef17
export AWS_PROFILE=mikroways
