source_up
export SOPS_AGE_RECIPIENTS=age1vxegg85dusfffk4en085s2v683am236xe5tt2vmk36rtwjwm9ucsvxdp7n
export SOPS_KMS_ARN=arn:aws:kms:us-east-1:162262765230:key/68099981-57be-4f94-b31b-c792651bef17
export AWS_PROFILE=mikroways
